.InfoWrapper {
  margin-top: 3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  color: #2f4698;
  .CardContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .card {
      margin-bottom: 2%;
      height: 15rem;
      width: 20rem;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

      .button {
        display: flex;
        justify-content: end;
        background-color: #2f4698bf;
        padding-left: 2%;
        padding-right: 2%;
        border-radius: 10px;
        width: 100%;
        margin-top: 40%;
        color: white;
        font-weight: bold;
      }
    }
    .card:hover {
      cursor: pointer;
      filter: brightness(70%);
    }
    .textContainer {
      margin-top: 2%;
      padding: 15px;
      border-radius: 10px;
      background-color: var(--background);
      background-color: #2f4698c5;
      text-align: center;
      color: white;
    }
  }
  @media screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .card {
      margin-top: 5%;
    }
  }
  @media screen and (max-width: 426px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1{
      font-size: 23px;
    }
    .card {
      height: 10rem;
      margin-bottom: 10%;
      h3{
       font-size: 18px; 
      }
      p{
        font-size: 13px;
      }
    }
  }
}
