.MainWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("/limpieza_Azul.jpg");
  background-size: cover;
  position: relative;
  
  h1,
  h2,
  p {
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  .leftContainer {
    background-color: #2f469851;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .link {
      .buttonOrange {
        cursor: pointer;
        border: none;
        border-radius: 10px;
        padding: 30px;
        background-color: orange;
        color: var(--background);
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 6%;
      }
      .buttonOrange:hover {
        filter: brightness(70%);
        transform: scale(1.05);
      }
    }
    .socialIcons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
    .Icons:hover {
      transform: scale(1.1);
      filter: brightness(70%);
    }
  }

  @media screen and (max-width: 769px) {
    .leftContainer {
      width: 55%;
      height: 55%;
      margin-top: 2%;

      h1 {
        display: none;
      }
      h2 {
        padding: 5%;
        font-size: 15px;
      }
      .link {
        .buttonOrange {
          padding: 10px;
          font-size: 15px;
        }
      }
      .socialIcons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .Icons {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
  @media screen and (max-width: 426px) {
    .leftContainer {
      display: flex;
      height: 80%;
      width: 100%;
      justify-content: flex-start;
      h1 {
        margin-top: 5%;
      }
      h3 {
        margin-top: 5%;
        font-size: 14px;
      }
      p {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 12px;
      }
      .link {
        .buttonOrange {
          margin-bottom: 15%;
        }
      }
    }
  }
}
