.Container {
  height: 100%;
  width: 100%;

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    gap: 10px 10px;
    padding: 20px;
    width: 100%;
    height: auto;

    .imagen {
      transition: all 0.5s ease-in-out;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }
    .imagen:hover {
      transform: scale(1.1);
      border-radius: 20px;
    }
  }
}
