.navBarMain {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background) !important;
  .NameLogo,
  .RightLogo {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    color: #0074e0;
    h4 {
      font-size: 18px;
      font-style: italic;
      letter-spacing: 1px;
    }
    p {
      font-size: 20px;
    }
  }

  .NameLogo {
    width: 20%;
  }

  .RightLogo {
    width: 70%;
    justify-content: end;

    .Icons {
      display: none;
    }
  }

  @media screen and (max-width: 769px) {
    height: 10vh;
    .NameLogo {
      width: 50%;
      .logoPpal {
        height: 25px;
        width: 25px;
      }
      p {
        font-size: 12px;
      }
      h4 {
        font-size: 15px;
      }
    }
    .RightLogo {
      width: 50%;
      justify-content: end;
      margin-right: 5%;
      p {
        font-size: 15px;
      }
      .Icons {
        display: none;
      }
    }
  }
}
