.page {
  --background: #fafafa;

  --text-primary: #000;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  .Container_Page{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.2);
  }
   @media screen and (max-width: 769px) {
    background-image: none;
  }
}
