.FooterContainer {
    margin-top: 2%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: white;

    h3 {
        color: #1f2d61;
        margin-top: 1%;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45rem;
        padding: 10px;
        cursor: pointer;
        background-color: green;
        border-radius: 20px;
        border: none;
        margin: 3%;

        .img {
            margin-right: 3%;
        }
    }

    button:hover {
        transform: scale(1.05);
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #1d2b60;
        height: 30vh;
        width: 100vw;

        span {
            width: 100%;
            display: flex;
            margin: 3%;
            align-items: center;
            justify-content: center;

            .imgBottom {
                margin-right: 25px;
            }

            .imgBottom:hover {
                transform: scale(1.1);
            }
        }
    }

    @media screen and (max-width:426px) {
        h3 {
            font-size: 16px;
        }

        button {
            width: 20rem;
        }
        .textContainer{
            padding: 10%;
            font-size: 12px;
            text-align: center;
        }
    }
}