.Container {
    margin-top: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2f4698;

    .gridContainer {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 400px;
        gap: 10px 10px;
        padding: 20px;
        width: 100%;
        height: auto;
        justify-items: center;

        .img {
            border-radius: 20px;
            border: 4px #2f4698 solid;
            height: 400px !important;
            width: 300px !important;
        }

        .img:hover {
            filter: brightness(70%);
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: 426px) {}
}